<!-- nav -->
<mat-toolbar color="primary">
  <span>BugTracker</span>
  <span class="fill-space"></span>
  <div class="btn-div">
    <button class="btn"
    *ngIf="currentUser"
    mat-raised-button color="accent"
    routerLink="/create-ticket">
      Create Ticket
    </button>
  </div>
  <div class="btn-div">
    <button class="btn"
    *ngIf="currentUser"
    mat-raised-button color="accent"
    (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<!-- main content container -->
<div>
  <alert></alert>
  <router-outlet></router-outlet>
</div>
