<h2 mat-dialog-title>Select {{subject}}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-dialog-content>
  <mat-form-field floatLabel="always">
  	<mat-label>{{label}}</mat-label>
  	{{selectedOption}}
    <mat-select formControlName="selectedOption"
      [value]="defaultOption"
      [ngClass]="{ 'is-invalid': submitted && f.selectedOption.errors }">
      <mat-option *ngFor="let value of values"
        [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="onSubmit()">Select</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
</form>
