
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$primary-color: #5d4037;
$secondary-color: #1b5e20;
$warn-color: red;

$bugtracker-primary: mat-palette($mat-brown, 700, 300, 900);
$bugtracker-accent: mat-palette($mat-green, 900, 700);
$bugtracker-warn: mat-palette($mat-red, 600);

$bugtracker-theme: mat-light-theme(
  $bugtracker-primary,
  $bugtracker-accent,
  $bugtracker-warn
);

// Create the theme object (a Sass map containing all of the palettes).
$bugtracker-theme: mat-light-theme($bugtracker-primary, $bugtracker-accent, $bugtracker-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bugtracker-theme);



/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-color: #d0d0d0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  border-style: solid;
  border-color: $secondary-color;
  border-width: .5rem;
}

.bottom-bar {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: $primary-color;
  width: 100%;
}

.btn{
  padding: .5rem;
  width: 100%;
  text-align: center;
}

.btn-div{
  border-color: white;
  border-radius: .25rem;
  border-style: solid;
  border-width: .2rem;
  margin: .5rem;
  min-width: 5rem;
}

.milo-card{
  background-color: #e0e0e0;
  border-color: $secondary-color;
  border-radius: .5rem;
  border-style: solid;
  border-width: .2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: .75rem;
  padding: 0rem;
}

.milo-card-content{
  margin: 1rem;
}

.milo-card-footer{
  background-color: $secondary-color;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: .5rem;
}

.milo-card-header{
  background-color: $primary-color;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  color: white;
}

.milo-card-subtitle{
  margin-top: -.5rem;
  padding-left: 1rem;
  padding-top: -.5rem;
}

.milo-card-title{
  padding: -.5rem;
  text-align: center;
}

.warn-snackbar{
  background: $warn-color;
}

.view{
  padding: 1rem;
  overflow: scroll;
}
